<section class="guild-book">
  <div
    class="container d-flex justify-content-center align-items-center text-center position-relative"
  >
    <div class="content">
      <div class="text">
        <div class="text-uppercase">Forma</div>
        <div class="position-relative text-uppercase mb-3">
          <svg
            class="position-absolute"
            width="219"
            height="101"
            viewBox="0 0 219 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g style="mix-blend-mode: multiply">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.80836 101C-27.5038 -45.3143 197.231 80.8717 212.24 0C221.929 40.93 228.46 78.878 178.568 86.3198C128.675 93.7617 76.2523 87.8024 26.0786 86.1454C18.2065 85.8838 6.59302 85.7675 2.80836 101Z"
                fill="#FF7B01"
              />
            </g>
          </svg>
          <svg
            class="position-absolute"
            width="126"
            height="57"
            viewBox="0 0 126 57"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g style="mix-blend-mode: multiply">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.61577 57C-15.8241 -40.06 113.476 53.6476 122.111 0C127.685 27.1516 131.443 42.325 102.738 47.2617C74.0323 52.1983 43.8712 48.2452 15.0041 47.146C10.475 46.9724 3.79324 46.8953 1.61577 57Z"
                fill="#FF7B01"
              />
            </g>
          </svg>
          <svg
            class="position-absolute"
            width="35"
            height="25"
            viewBox="0 0 35 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M31.9006 8.82448C24.4281 12.776 9.9397 13.9983 2.12767 9.57457C7.84303 10.9167 22.3098 11.077 30.6761 4.43676C33.6126 2.10638 35.4206 6.96316 31.9006 8.82448Z"
              fill="#FF7B01"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28.7413 20.9554C24.616 17.3819 15.5738 14.3029 9.87449 15.6815C13.7371 15.8055 22.9897 18.0543 27.2493 23.3802C28.7444 25.2494 30.6846 22.6387 28.7413 20.9554Z"
              fill="#FF7B01"
            />
          </svg>
          Free guild book
        </div>
        <p class="mb-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text
          ever.
        </p>
      </div>
      <a
        href="#"
        class="btn rounded-pill d-flex align-items-center ms-auto me-auto"
      >
        download book
        <img src="/assets/imgs/Top-Right-Arrow.svg" alt="Top Right Arrow" />
      </a>
    </div>
  </div>
</section>
