<footer>
  <div class="container">
    <div
      class="footer-head d-flex justify-content-between align-items-lg-center flex-column flex-lg-row gap-4"
    >
      <div class="links">
        <a class="d-block" href="#">Programs</a>
        <a class="d-block" href="#">About us</a>
        <a class="d-block" href="#">Support</a>
        <a class="d-block" href="#">Contact Us</a>
      </div>
      <div class="contact">
        <div class="mail">
          <div class="mb-3 text-capitalize">
            Get industry insights and creative inspiration straight to your
            inbox.
          </div>
          <form class="d-flex align-items-center gap-2 gap-md-4 mb-4 flex-wrap">
            <input
              class="flex-md-grow-1 bg-transparent pt-3 pb-3"
              type="email"
              name="email"
              placeholder="Email Address"
            />
            <a href="#" class="btn rounded-pill d-flex align-items-center">
              Send
              <img src="\assets\imgs\Top-Right-Arrow.svg" alt="" />
            </a>
          </form>
          <div class="download d-flex flex-wrap">
            <a class="d-block me-3" href="#">
              <img
                src="\assets\imgs\App-Store-Download.svg"
                alt="App Store Download"
              />
            </a>
            <a class="d-block" href="#">
              <img
                src="\assets\imgs\Play-Store-Download.svg"
                alt="Play Store Download"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <img class="w-100" src="\assets\imgs\Footer-Logo.svg" alt="Logo" />
    <div
      class="copyright d-flex justify-content-between align-items-center flex-column flex-lg-row gap-4 gap-lg-0"
    >
      <div class="text text-capitalize">
        © 2024 forma co, All rights reserved.
      </div>
      <div class="social d-flex justify-content-center align-items-center">
        <a href="#"
          ><img src="/assets/imgs/White-Instagram.svg" alt="Instagram"
        /></a>
        <a href="#"
          ><img src="/assets/imgs/White-Facebook.svg" alt="Facebook"
        /></a>
        <a href="#"><img src="/assets/imgs/White-Tiktok.svg" alt="Tiktok" /></a>
        <a href="#"
          ><img src="/assets/imgs/White-Youtube.svg" alt="Youtube"
        /></a>
        <a href="#"><img src="/assets/imgs/White-X.svg" alt="X" /></a>
      </div>
      <div class="text">
        Our <span>Terms & Conditions</span> and <span>Privacy Policy.</span>
      </div>
    </div>
  </div>
</footer>
