<section class="programs">
  <div class="container">
    <div class="main-title w-auto text-center text-uppercase mb-3">
      Explore Our <span>Programs</span>
    </div>
    <div class="row mb-4">
      <div
        class="col-md-6 col-lg-4 col-xxl-3 ps-2 pe-2 d-flex justify-content-center justify-content-md-start"
      >
        <div class="card overflow-hidden position-relative">
          <img src="/assets/imgs/Program-1.svg" alt="Program 1" />
          <div class="card-body pt-0 pb-3 ps-3 pe-3 position-absolute bottom-0">
            <div class="card-title d-flex justify-content-between">
              <div class="title position-relative">
                Beach Body Blitz.
                <img
                  class="position-absolute"
                  src="/assets/imgs/Program-1-Dash.svg"
                  alt=""
                />
              </div>
              <div
                class="time d-flex justify-content-between align-items-center"
              >
                <img src="/assets/imgs/timer.svg" alt="Timer" />
                <span>4 Weeks</span>
              </div>
            </div>
            <div class="card-buttons">
              <a
                href="#"
                class="btn rounded-pill justify-content-between align-items-center"
              >
                Learn More
                <img
                  src="/assets/imgs/Top-Right-Arrow.svg"
                  alt="Top Right Arrow"
                />
              </a>
              <a href="#" class="justify-content-between align-items-center">
                Compare
                <img
                  src="/assets/imgs/Top-Right-Arrow.svg"
                  alt="Top Right Arrow"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      href="#"
      class="btn rounded-pill d-flex align-content-center ms-auto me-auto"
    >
      Help Me Decide
      <img src="/assets/imgs/Pink-Top-Right-Arrow.svg" alt="Top Right Arrow" />
    </a>
  </div>
</section>
