<!-- <mat-icon></mat-icon> -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
<div class="section1">
  <!-- //d-flex align-items-center justify-content-center fs-1  flex-column -->
  <div class="container d-flex align-items-center flex-column justify-content-center ">
    <div class="header ">
      <h2 >Transform Your Shape, </h2>
      <h2 class="">Change Your Life</h2>
    </div>

     <!-- <p class="desc">Join us today in building out the perfect living and
       learning structures
       <br>to suit the evolving and expanding industry.</p> -->
       <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry,
        text of the printing and typesetting industry.</p>

  <ul>
    <li>
      <div class="download android">
        <mat-icon class="mat">

          <img src="/assets/images/fi_747.png" alt=""></mat-icon>

        <span class="p1">Download App</span>

      </div>
    </li>
    <li>
      <div class="download windows">

          <mat-icon>
            <img src="/assets/images/icon.png" alt="">
          </mat-icon>



        <span class="p1">Download App</span>

      </div>
    </li>



  </ul>



<button class="btn button-hover">start free trial</button>
    <p class="text-center ">suit the evolving </p>
    <img src="/assets/images/scroll-UShtxXktTX.png" alt="">
  </div>
</div>






