<div class="row  g-0">
  <!-- left side -->
    <div class="col-lg-6 position-relative d-none d-lg-block">
      <div class="bg-holder" style="background-image: url('');">
<img src="/assets/images/Frame 427320062 (1).jpg" alt="">
      </div>
    </div>
    <!-- right side -->
    <div class="col-lg-6">
      <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
      <div class="col col-sm-6 col-lg-7 col-xl-6">
        <p class="text-center">Get start</p>
        <div class="d-flex justify-content-center mb-4">
          <!-- <p>Get start</p> -->
      <a href="">

        <img src="/assets/images/Frame (1).png" alt="">
      </a>
        </div>
      <div class="header text-center mb-5">
        <p>Welcome back!, Forma 🍑</p>
        <h2>Please enter code sent <span>to.</span></h2>
        <img src="/assets/images/Frame 267.jpg" alt="">
        <div class="otp-cards-inputs">
          <input type="text" maxlength="1" autofocus>
          <input type="text" maxlength="1">
          <input type="text" maxlength="1">
          <input type="text" maxlength="1">
          <input type="text" maxlength="1">
        </div>
        <div class="Done d-flex align-items-center justify-content-center mb-3">
          <button class="text-center d-flex align-items-center justify-content-center"> <span>Done</span></button>
        </div>
        <div>

        <div class="Resendpassword">
        <a href="">Resend the code</a>
        <p class="foot">© 2023 inflow marketing agency, All rights reserved.</p>

      </div>
  </div>
