.programs {
  padding: 120px 0;
}

a {
  text-decoration: none;
}

.main-title {
  font-family: "Poppins-BlackItalic", sans-serif;
  font-size: 48px;
  line-height: 56.25px;
  letter-spacing: -0.04em;
}

.main-title span {
  color: #FF5400;
}








.container>.btn {
  width: fit-content;
  border: 1.34px solid #FE12AC;
  color: #FE12AC;
  padding: 14.5px 24px;
  gap: 9.14px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
}