<section class="social">
  <img
    class="ms-auto me-auto d-block mb-3"
    src="/assets/imgs/Social-Reacts.svg"
    alt="Social Reacts"
  />
  <div class="title text-center text-black text-uppercase mb-3">
    get social with us.
  </div>
  <div class="shots overflow-hidden mb-5">
    <img src="/assets/imgs/Shots.svg" alt="Shots" />
  </div>
  <div class="links d-flex justify-content-center">
    <a href="#"><img src="/assets/imgs/Instagram.svg" alt="Instagram" /></a>
    <a href="#"><img src="/assets/imgs/Facebook.svg" alt="Facebook" /></a>
    <a href="#"><img src="/assets/imgs/Tiktok.svg" alt="Tiktok" /></a>
    <a href="#"><img src="/assets/imgs/Youtube.svg" alt="Youtube" /></a>
    <a href="#"><img src="/assets/imgs/X.svg" alt="X" /></a>
  </div>
</section>
