
<div class="row  g-0">
  <!-- left side -->
    <div class="col-lg-6 position-relative d-none d-lg-block">
      <div class="bg-holder" style="background-image: url('/assets/images/login.png');">
<img src="/assets/images/login.png" alt="">
      </div>
    </div>
    <!-- right side -->
     <div class="col-lg-6">
<div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
<div class="col col-sm-6 col-lg-7 col-xl-6">
  <p class="text-center">Get start</p>
  <div class="d-flex justify-content-center mb-4">
    <!-- <p>Get start</p> -->
<a href="">

  <img src="/assets/images/Frame (1).png" alt="">
</a>
  </div>
<div class="test1 text-center mb-5">
  <p>Welcome back!, Forma 🍑</p>
  <p>Login with?</p>
</div>
<!-- btn d-flex justify-content-around align-items-centerz -->
<div class=" test2  d-flex align-items-center justify-content-around ">
  <button class="btn1">Email</button>
  <button class="btn2">Mobile</button>

</div>
<!-- form -->
 <div class="inputG mb-3">
<input type="text" class="form-control form-control-lg fs-6 mb-3 p-3" placeholder="Emaile">
<input type="password" class="form-control form-control-lg fs-6 p-3" placeholder="Password">

<div class="container">
  <a href="">Forget Password?</a>
  <div class="continue d-flex align-items-center justify-content-center">
    <button class="text-center d-flex align-items-center justify-content-center"> <span></span>Continue</button>
  </div>
</div>

 <div class="d-flex mt-3 end">
  <p>Join with Forma?</p>
  <a class="Register" href="">Register</a>

 </div>
 <p class="foot">© 2023 inflow marketing agency, All rights reserved.</p>
</div>
</div>
     </div>
</div>
