
<div class="row  g-0">
  <!-- left side -->
    <div class="col-lg-6 position-relative d-none d-lg-block">
      <div class="bg-holder" style="background-image: url('');">
<img src="/assets/images/Frame 427.jpg" alt="">
      </div>
    </div>
 <!-- rigt side -->
 <div class="col-lg-6">
  <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
    <div class="col col-sm-6 col-lg-7 col-xl-6">
      <p class="text-center">Sign Up</p>
      <div class="d-flex justify-content-center mb-4">

    <a href="">

      <img src="/assets/images/Frame (1).png" alt="">
    </a>
      </div>
      <div class="test1 text-center mb-5">
        <p>Hi, You looks new. 💪🏻</p>

      </div>
      <!-- form -->
 <div class="inputG mb-3">
  <input type="text" class="form-control form-control-lg fs-6 p-3 mb-3" placeholder="FullName">
  <div class="input d-flex align-items-center justify-content-between">
    <input type="text" class="form-control form-control-lg fs-6 mb-3 p-3  form-contro1" placeholder="">
    <input type="text" class="form-control form-control-lg fs-6 mb-3 p-3 form-contro2 mr-3 " placeholder="Mobile-phone">
  </div>
  <input type="text" class="form-control form-control-lg fs-6 p-3 mb-3" placeholder="work email">
  <input type="password" class="form-control form-control-lg fs-6 p-3 mb-3" placeholder="Password">
  <input type="password" class="form-control form-control-lg fs-6 p-3 mb-3" placeholder="Re-Password">

  <div class="container">
<div class="d-flex Messg">

  <p>i Don’t want to receive marketing message and fitness tips from us.</p>
  <img src="/assets/images/Group 744.png" alt="">
</div>
    <div class="Done d-flex align-items-center justify-content-center mb-3">
      <button class="text-center d-flex align-items-center justify-content-center"> <span>Done</span></button>
    </div>
  </div>


   <p class="foot">© 2023 inflow marketing agency, All rights reserved.</p>
  </div>

    </div>
   </div>
 </div>


</div>
